@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Outfit', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}